<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
<a class="<%= activeNav == '/'? 'active' : ''  %> " href="/">MOVIEMAGIC</a>
<form action="/search" method="POST">
    <img id="icon" src="/img/Search.png" alt="">
    <input type="search" name="search" id="">
    <input type="submit" value="Search">
</form>
<a class="<%= activeNav == '/myShows'? 'active' : ''  %> " href="/myShows">MySHOWS</a>

</header>


 