<%-include('./partials/header') %>

<section id="home" class="hero">

    <% movies.forEach(element => { %>
    <div>
        <a href="/details/<%= element.id %> "><img src="https://image.tmdb.org/t/p/w500<%= element.poster_path %> "
                alt=""></a>
        <h2><%= element.original_title %> </h2>
    </div>

    <% }) %>

</section>

</body>

</html>